extends layout

block content
  script(src="http://code.jquery.com/jquery-2.1.0.min.js")
  script(src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCjj9c4BHHyUnpjj2-sYiaEOPN7uGxMVaI")
  script(src="http://google-maps-utility-library-v3.googlecode.com/svn/trunk/markerclusterer/src/markerclusterer.js")

  script.
    function initialize() {
      var mapOptions = {
          center: { lat: 42.3581, lng: -71.0636},
          zoom: 12
        };
        var map = new google.maps.Map(document.getElementById('map-canvas'),
            mapOptions);

        var markers = [];
        var data = !{data};
          for (var i = 0; i < data.length; i += 2) {
            var location = '(' + parseFloat(data[i])+ ', ' + parseFloat(data[i+1]) + ')';
            lat = parseFloat(data[i]);
            lng = parseFloat(data[i+1]);
            createLatLng();
          }
          console.log(markers);
          var markerCluster = new MarkerClusterer(map, markers);

          function createLatLng() {
            var latLng = new google.maps.LatLng(lat, lng);
            console.log(latLng);
            var marker = new google.maps.Marker({
              position: latLng
            });
            markers.push(marker);
          }
    }

      google.maps.event.addDomListener(window, 'load', initialize);
  h1= "Yo Coin"
  h2= "Boston"
  div(id="map-canvas")