extends layout

block content
  script(src="https://code.jquery.com/jquery-2.1.0.min.js")
  script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjj9c4BHHyUnpjj2-sYiaEOPN7uGxMVaI")
  script(src="https://google-maps-utility-library-v3.googlecode.com/svn/trunk/markerclusterer/src/markerclusterer.js")
  script(src="https://google-maps-utility-library-v3.googlecode.com/svn/tags/markerwithlabel/1.0.1/src/markerwithlabel_packed.js")

  script.
    function initialize() {
      var mapOptions = {
          center: { lat: 32.3581, lng: -98.0636},
          zoom: 4
        };
        var map = new google.maps.Map(document.getElementById('map-canvas'),
            mapOptions);

        var markers = [];
        var data = !{data};
          for (var i = 0; i < data.length; i += 2) {
            var location = '(' + parseFloat(data[i])+ ', ' + parseFloat(data[i+1]) + ')';
            lat = parseFloat(data[i]);
            lng = parseFloat(data[i+1]);
            createLatLng();
          }
         var chestData = !{chestData};
          for (var i = 0; i < chestData.length; i += 2) {
            var location = '(' + parseFloat(chestData[i])+ ', ' + parseFloat(chestData[i+1]) + ')';
            lat = parseFloat(chestData[i]);
            lng = parseFloat(chestData[i+1]);
            createChestLatLng();
          }
          console.log(markers);
          var markerCluster = new MarkerClusterer(map, markers);

          function createLatLng() {
            var latLng = new google.maps.LatLng(lat, lng);
            console.log(latLng);
            var marker = new google.maps.Marker({
              position: latLng,
            });
            markers.push(marker);

          }

          function createChestLatLng() {
            var latLng = new google.maps.LatLng(lat, lng);
            var marker = new MarkerWithLabel({
              position: latLng,
              map: map,
              labelContent: "10",
              labelAnchor: new google.maps.Point(22, 0),
              labelClass: "labels", // the CSS class for the label
              labelStyle: {opacity: 0.75}
            });


          }
    }

      google.maps.event.addDomListener(window, 'load', initialize);
  h1= "Yo Coin"
  div(id="map-canvas")